<!DOCTYPE html>
<html lang="en">
<head>
	<title>Simple AD Manager |{% block title %}
        {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./static/css/util.css">
    <link rel="stylesheet" type="text/css" href="./static/css/main.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style2.css">
    <link href="./static/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    
    <script src="./static/js/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="./static/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="./static/js/scripts.js" type="text/javascript"></script>
    
    

<!--===============================================================================================-->

</head>
<body onload="myFunction()">
    <div class="topnavigation" id="myTopnav">
        <img src="./static/images/main.png" alt="Simple AD Manager" width="60" height="60">
        <a2>Simple AD Manager</a2>
        <p class="loggedinfo">
            <img src="./static/images/profile.png" alt="profile" width="60" height="60">
            <a3>{{loggedUser}}</a3><br>
            {{loggedtitle}}
        </p>
    </div>
    <div id="loader"></div>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'dashboard')" id="defaultOpen"><img src="./static/images/home.png" alt="dashboard" width="35" height="35"><a href="{{url_for('home')}}"></a>Dashboard</a></button>
        <button class="tablinks-user" onclick="openTab(event, 'Users')"><img src="./static/images/staff.png" alt="staff" width="35" height="35"><a href="{{url_for('staff')}}">All Staff</a></button>
        <div class="dropdown-container">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
        <button class="tablinks" onclick="openTab(event, 'Groups')"><img src="./static/images/security.png" alt="security group" width="35" height="35"><a href="{{url_for('securitygroups')}}">Security Groups</a></button>
        <button class="tablinks" onclick="openTab(event, 'Reports')"><img src="./static/images/report.png" alt="reports" width="35" height="35"><a href="{{url_for('reports')}}">Reports</a></button>
        <button class="tablinks" onclick="openTab(event, 'Configurations')"><img src="./static/images/conf.png" alt="configuration" width="35" height="35"><a href="{{url_for('configuration')}}">Configurations</a></button>
        <p class="syncStats">
            <b1>Last sync time:</b1><br>{{syncTime}}<br>
            {%if syncStatus =="Success"%}
            <b2>Sync Status:</b2> <b3 style="color: #43924e;">{{syncStatus}}</b3>
            {%else%}
                <b2>Sync Status:</b2> <b3 style="color: #924343;">{{syncStatus}}</b3>
            {%endif%}
        </p>
    </div>
    <div style="display:none;" class="content-tab" id="content-tab">
        <form action="/resetuserpwd" method = "POST">
            <fieldset class="content-conf1">
                <legend style="font-size: 20px;">Reset Password</legend>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value ="{{username}}">
                <label for="newpassword">New Password:</label>
                <input type="text" id="newpassword" name="newpassword">
                <label for="newpassword">Confirm new password:</label>
                <input type="text" id="newpassword2" name="newpassword2">
                <p><input type = "submit" value = "Submit" /></p>
            </fieldset>
        </form>
    </div>
    
    <script>
        function openCompany(evt, companyName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("company");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-grey", "");
            }
            document.getElementById(companyName).style.display = "block";
            evt.currentTarget.className += " w3-grey";
        }
        var myVar;

        function myFunction() {
            myVar = setTimeout(showPage, 150);    
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("content-tab").style.display = "block";
        }

        function navFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        }
        function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();

        var el_up = document.getElementById("GFG_UP");
        var username = document.getElementById("staffUsername"); 
        var fullname = document.getElementById("staffnames"); 
        var email = document.getElementById("staffemail"); 
        var title = document.getElementById("stafftitle"); 
        var department = document.getElementById("staffdepartment"); 
        var creationdate = document.getElementById("staffcreationdate"); 
        
        function viewInfo_Click(clicked) { 
            username.innerHTML =clicked;
        } 
        function setValue(clicked) {
            staffusername.innerHTML = clicked;
            alert(clicked)
        }

        var dropdown = document.getElementsByClassName("tablinks-user");
        var i;

        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
        });
        }
    </script>


</body>

</html>