<!DOCTYPE html>
<html lang="en">
<head>
	<title>Simple AD Manager |{% block title %}
        {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <script src="./static/js/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="./static/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="./static/js/scripts.js" type="text/javascript"></script>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./static/css/main2.css">
<!--===============================================================================================-->
    <link href="./static/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css">
    
<!--===============================================================================================-->

</head>
<body onload="myFunction()">
    <div id="loader"></div>
    <div class="topbar">
        <div class="logo">
            <img src="./static/images/main.png" alt="Simple AD Manager" width="60" height="60">
        </div>
        <div class="logo-title">
            Simple AD Manager
        </div>
        <div class="userlogoinfo">
            <div class="userlogo">
                <img src="./static/images/profile.png" alt="profile" width="60" height="60">
            </div>
            <div class="userinfo">
                {{loggedUser}}</br>
                <div style="font-size: 14px;">{{loggedtitle}}</div>
            </div>
        </div>
    </div>
    <div class="tab-side">
        {% block content %}
        {% endblock %}
    </div>
    <div style="display:none;" class="content-tab" id="content-tab">
        <div id="dashboard" class=tabcontent>
            {% block content1 %}
            {% endblock %}
        </div>
        <div id="Users" class=tabcontent>
            {% block content2 %}
            {% endblock %}
        </div>
        <div id="Groups" class=tabcontent>
            {% block content3 %}
            {% endblock %}
        </div>
        <div id="Reports" class=tabcontent>
            {% block content4 %}
            {% endblock %}
        </div>
        <div id="Configurations" class=tabcontent>
            {% block content5 %}
            {% endblock %}
        </div>
        <div id="User Information" class=tabcontent>
            {% block content6 %}
            {% endblock %}
        </div>
        <div id="Consultants" class=tabcontent>
            {% block content7 %}
            {% endblock %}
        </div>
        <div id="Service Accounts" class=tabcontent>
            {% block content8 %}
            {% endblock %}
        </div>
        <div id="Staff" class=tabcontent>
            {% block content9 %}
            {% endblock %}
        </div>
        <div id="accessmanagement" class=tabcontent>
            {% block content10 %}
            {% endblock %}
        </div>
    </div>
    
    <script>
        function openCompany(evt, companyName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("company");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-grey", "");
            }
            document.getElementById(companyName).style.display = "block";
            evt.currentTarget.className += " w3-grey";
        }
        var myVar;

        function myFunction() {
            myVar = setTimeout(showPage, 150);    
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("content-tab").style.display = "block";
        }

        function navFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        }
        function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();

        var el_up = document.getElementById("GFG_UP");
        var username = document.getElementById("staffUsername"); 
        var fullname = document.getElementById("staffnames"); 
        var email = document.getElementById("staffemail"); 
        var title = document.getElementById("stafftitle"); 
        var department = document.getElementById("staffdepartment"); 
        var creationdate = document.getElementById("staffcreationdate"); 
        
        function viewInfo_Click(clicked) { 
            username.innerHTML =clicked;
        } 
        function setValue(clicked) {
            staffusername.innerHTML = clicked;
            alert(clicked)
        }

        var dropdown = document.getElementsByClassName("tablinks-user");
        var i;

        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
        });
        }



    </script>


</body>

</html>