{% extends "base2.html" %}
{% block title %}
All Locked Staff
{% endblock %}
{% block content %} 
    <div class="sidebar">
        <div class="linkslist">
            <li>
                <button class="tablinks" onclick="window.location.href='{{url_for('home')}}';" >Dashboard</a></button>
            </li>
            <li>
                <button class="tablinks" onclick="window.location.href='{{url_for('bkstaff')}}';">Bank of Kigali Staff</a></button>
            </li>
            <li>
                <button class="tablinks" onclick="window.location.href='{{url_for('bkcstaff')}}';">BK Capital Staff</a></button>
            </li>
            <li>
                <button class="tablinks" onclick="window.location.href='{{url_for('home')}}';">BK Insurance Staff</a></button>
            </li>
            <li>
                <button class="tablinks selectedTab" onclick="window.location.href='{{url_for('lockedusers')}}';">Locked Staff</a></button>
            </li>
            <li>
                <button class="tablinks" onclick="window.location.href='{{url_for('disabledstaff')}}';">Disabled Staff</a></button>
            </li>
            <li>
                <button class="tablinks" onclick="window.location.href='{{url_for('serviceaccounts')}}';">Service Accounts</a></button>
            </li>
            <li>
                <button class="tablinks" onclick="window.location.href='{{url_for('consultants')}}';" >Consultants</a></button>
            </li>
            
            {%if role=="View Only"%}
                <div class="accessed-links" style="display:none">
            {%else%} 
                <div class="accessed-links">
            {%endif%}
                <li>
                    <button class="tablinks" onclick="window.location.href='{{url_for('securitygroups')}}';">Security Groups</button>
                </li>
                <li>
                    <button class="tablinks" onclick="window.location.href='{{url_for('reports')}}';">Reports</button>
                </li> 
                <li>
                    <button class="tablinks" onclick="window.location.href='{{url_for('configuration')}}';">Configurations</button>
                </li>
                <li>
                    <button class="tablinks" onclick="window.location.href='{{url_for('accessmanagement')}}';">Access Management</button>
                </li>
                <li>
                    <button class="tablinks" onclick="window.location.href='{{url_for('loginlogs')}}';">Login Logs</button>
                </li>
        </div>
    </div>
    <div class="syncStats">
        <b1>Last sync time:</b1><br>{{syncTime}}<br>
        {%if syncStatus =="Success"%}
        <b2>Sync Status:</b2> <b3 style="color: #43924e;">{{syncStatus}}</b3>
        {%else%}
            <b2>Sync Status:</b2> <b3 style="color: #924343;">{{syncStatus}}</b3>
        {%endif%}
    </div>
{% endblock %}

{% block content9 %}
    <fieldset class="content-dashboard">    
        <legend style="font-size: 30px;">Locked Users</legend>
        <div id="userspwd" class="w3-container" style="background-color: white; color: black;">
            <table id="table-lockedusers" style="color: black;" class="table table-striped table-bordered table-lockedusers" width="100%" data-page-length="5" data-order="[[ 1, &quot;asc&quot; ]]">
                <thead>
                    <tr>
                        <th>Fullnames</th>
                        <th>Username</th>
                        <th>Lockout Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in range(0,len2)%}
                        <tr>
                            <td>{{lockedUserFullname[i]}}</td>
                            <td id={{lockedUserUsername[i]}} name={{lockedUserUsername[i]}} class="viewInfo"><a href="{{ url_for('userInformation', var=lockedUserUsername[i]) }}" type="submit">{{lockedUserUsername[i]}}</a></td>
                            <td id=pwdExpiryDate>{{lockedUserLockoutTime[i]}}</td>
                            <td>
                                <button type="button" class="button btnReminder" id="btnReminder" onclick="window.location.href='{{ url_for('unlockUser', var=lockedUserUsername[i]) }}';">Unlock</button>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </fieldset>
{% endblock %}
